@page
@model IndexPageModel

@{
    ViewData["Title"] = "Home page";
}

<header class="">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="http://www.uniajc.edu.co/wp-content/uploads/2016/11/logo-home.png" alt="Logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <form class="form-inline" asp-page="/Logout" method="post" style="position: relative; left: 90%;">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar sesion</button>
            </form>
        </div>
    </nav>
</header>


<div class="contenedor">
    <aside class="aside-izq">
        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/04/AED-NOTICIA_Noticia.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    La Institución Universitaria Antonio José Camacho, UNIAJC,
                    gracias a la aprobación del Consejo Directivo...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/05/20200508-BECAS-II.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    El siguiente es el listado de los estudiantes que
                    se postularon en el periodo 2019-2...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>
    </aside>

    <section class="section-der">
        <article class="">
            <div class="container" id="conte">
                @if (Model.V_tema)
                {
                    <a asp-page="./TemaPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Temas</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar temas...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }

                @if (Model.V_estudiante)
                {
                    <a asp-page="./EstudiantesPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Estudiantes</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar Estudiantes...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (Model.V_asesor)
                {
                    <a asp-page="./DocentesPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Asesores</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar Asesores...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (Model.V_grupo)
                {
                    <a asp-page="./GruposPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Grupos</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar Grupos...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (Model.V_integracion)
                {
                    <a asp-page="./IntegracionPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Integracion</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar Integracion...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                @if (Model.V_entrega)
                {
                    <a asp-page="./EntregasPages/Index">
                        <div class="carta">
                            <div class="card text-white bg-primary mb-0" style="max-width: 14rem;border-radius: 15px;">
                                <div class="card-header">Entregas</div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Gestionar Entregas...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </article>
    </section>
    <footer class="footer-aba">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://hvrecomen.firebaseapp.com/index.html">HEProyecto.com</a>
        </div>
    </footer>
</div>
