@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!--<table class="arriba">

    <tbody class="tabla" style="color:red">
        <tr>
            <td style="width: 228px; text-align: center">
                <a class="btn btn-secondary" asp-page="./TemaPages/Index">Crud Temas</a>
            </td>
        </tr>
        <tr>
            <td style="width: 228px; text-align: center">
                <a asp-page="./DocentesPages/Index">Crud Docentes</a>
            </td>
        </tr>
        <tr>
            <td style="width: 228px; text-align: center">
                <a asp-page="./EstudiantesPages/Index">Crud Estudiantes</a>
            </td>
        </tr>

        <tr>
            <td style="width: 228px; text-align: center">
                <a asp-page="./GruposPages/Index">Crud Grupos</a>
            </td>
        </tr>
        <tr>
            <td style="width: 228px; text-align: center">
                <a asp-page="./IntegracionPages/Index">Crud Integracion</a>
            </td>
        </tr>
        <tr>
            <td style="width: 228px; text-align: center">
                <a asp-page="./EntregasPages/Index">Crud Entregas</a>
            </td>
        </tr>
    </tbody>
</table>-->
