@page
@model Proyecto.Pages.InicioPagueModel
@{
    ViewData["Title"] = "InicioPague";
}

<div>
    <header>
        <div id="img-header">

        </div>
    </header>

    <section id="section-1">
        <div class="img-section-1">
            <img src="img/img1.jpg" alt="">
        </div>
        <div class="img-section-1">
            <img src="img/img-2.jpg" alt="">
        </div>
        <div class="img-section-1">
            <img src="img/img-3.jpg" alt="">
        </div>
        <div class="img-section-1">
            <img src="img/img-4.jpg" alt="">
        </div>
    </section>

    <section id="section-2">
        <div id="ima-section">
            <img src="img/trabajo.jpg" alt="">
        </div>
        <div id="informacion">
            <div id="info">
                <h1>Plataforma Proyecto Integrador</h1>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti omnis tempora quae sapiente, hic
                    repudiandae sit vero doloribus expedita sunt veniam aliquam provident illum dicta delectus? Saepe
                    animi
                    nobis possimus?
                </p>

            </div>
            <div id="info-link">
                <a class="btn btn-outline-dark" target="_blank" asp-page="/Login">Inicio Sesion</a>
            </div>
        </div>
        <hr>
    </section>
    <br>
    <hr>
</div>

