@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="arriba">
<h1>Create</h1>

<h4>Integracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Integracion.Nombre" class="control-label"></label>
                <input asp-for="Integracion.Nombre" class="form-control" />
                <span asp-validation-for="Integracion.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integracion.Asignatura1" class="control-label"></label>
                <input asp-for="Integracion.Asignatura1" class="form-control" />
                <span asp-validation-for="Integracion.Asignatura1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integracion.Asignatura2" class="control-label"></label>
                <input asp-for="Integracion.Asignatura2" class="form-control" />
                <span asp-validation-for="Integracion.Asignatura2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integracion.Asignatura3" class="control-label"></label>
                <input asp-for="Integracion.Asignatura3" class="form-control" />
                <span asp-validation-for="Integracion.Asignatura3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
