@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<header class="">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="http://www.uniajc.edu.co/wp-content/uploads/2016/11/logo-home.png" alt="Logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style=" position: relative; left: 25%;">
                @if (Model.V_tema)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../TemaPages/Index">Temas</a>
                    </li>
                }
                @if (Model.V_estudiante)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../EstudiantesPages/Index">Estudiantes</a>
                    </li>
                }
                @if (Model.V_asesor)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../DocentesPages/Index">Asesores</a>
                    </li>
                }
                @if (Model.V_grupo)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../GruposPages/Index">Grupos</a>
                    </li>
                }
                @if (Model.V_integracion)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="../IntegracionPages/Index">Integracion</a>
                    </li>
                }
                @if (Model.V_entrega)
                {
                    <li>
                        <a class="nav-link" asp-page="../EntregasPages/Index">Entregas</a>
                    </li>
                }
            </ul>
            <form class="form-inline" asp-page="/Logout" method="post" style="position: relative; left: 50%;">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar sesion</button>
            </form>
        </div>
    </nav>
</header>

<div class="contenedor">
    <aside class="aside-izq">
        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/04/AED-NOTICIA_Noticia.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    La Institución Universitaria Antonio José Camacho, UNIAJC,
                    gracias a la aprobación del Consejo Directivo...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="http://www.uniajc.edu.co/wp-content/uploads/2020/05/20200508-BECAS-II.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    El siguiente es el listado de los estudiantes que
                    se postularon en el periodo 2019-2...
                </p>
                <a href="#" class="btn btn-outline-dark">Ver mas</a>
            </div>
        </div>
    </aside>

    <section class="section-der">
        <article class="container" style=" position: absolute; top: 20%;">
            <h1 class="text-center">Crear Grupo</h1>
            <div class="container" style="position: relative; width: 50%; margin-top:10%">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Grupo.TemaId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <select asp-for="Grupo.TemaId" class="form-control" asp-items="ViewBag.TemaId"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Grupo.Estudiante1" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <input asp-for="Grupo.Estudiante1" class="form-control" />
                            <span asp-validation-for="Grupo.Estudiante1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Grupo.Estudiante2" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <input asp-for="Grupo.Estudiante2" class="form-control" />
                            <span asp-validation-for="Grupo.Estudiante2" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Grupo.Estudiante3" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <input asp-for="Grupo.Estudiante3" class="form-control" />
                            <span asp-validation-for="Grupo.Estudiante3" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Grupo.DocenteId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <select asp-for="Grupo.DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Grupo.Active" /> @Html.DisplayNameFor(model => model.Grupo.Active)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="boton" style="top: 91%;">
                <a class="btn btn-danger" asp-page="Index">Cancelar</a>
            </div>
        </article>
    </section>
    <footer class="footer-aba">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://hvrecomen.firebaseapp.com/index.html">HEProyecto.com</a>
        </div>
    </footer>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
