@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="arriba">
<h1>Edit</h1>

<h4>Entrega</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entrega.Id" />
            <div class="form-group">
                <label asp-for="Entrega.Nombre" class="control-label"></label>
                <input asp-for="Entrega.Nombre" class="form-control" />
                <span asp-validation-for="Entrega.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.NroEntrega" class="control-label"></label>
                <input asp-for="Entrega.NroEntrega" class="form-control" />
                <span asp-validation-for="Entrega.NroEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Documento" class="control-label"></label>
                <input asp-for="Entrega.Documento" class="form-control" />
                <span asp-validation-for="Entrega.Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.GrupoId" class="control-label"></label>
                <select asp-for="Entrega.GrupoId" class="form-control" asp-items="ViewBag.GrupoId"></select>
                <span asp-validation-for="Entrega.GrupoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Integracion.Nombre" class="control-label"></label>
                <select asp-for="Entrega.Integracion.Nombre" class="form-control" asp-items="ViewBag.IntegracionId"></select>
                <span asp-validation-for="Entrega.Integracion.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.FechaEntrega" class="control-label"></label>
                <input asp-for="Entrega.FechaEntrega" class="form-control" />
                <span asp-validation-for="Entrega.FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Nota" class="control-label"></label>
                <input asp-for="Entrega.Nota" class="form-control" />
                <span asp-validation-for="Entrega.Nota" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Entrega.Active" /> @Html.DisplayNameFor(model => model.Entrega.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
