<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto</title>

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="~/css/styleIndex.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <div class="container-full">

        <!-- Nav -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container margin-left-nav">
                <div class="row">
                    <div class="col-md-2">
                        <!-- Navbar brand (Brainiac) y botón colapsable -->
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse"
                                    data-target="#navbar-main">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">Brand</a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="navbar-collapse collapse" id="navbar-main">

                            <!-- Navbar botones -->
                            <ul class="nav navbar-nav horizontal mar-left">
                                <li><a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a></li>
                                <li><a href="miembros.html">¿Quiénes somos?</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a></li>
                            </ul>

                            <!-- Navbar derecho (Registro, Login) -->
                            <ul class="nav navbar-nav navbar-right horizontal">

                                <!-- Registro
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registrarse<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-width">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <h3><b>Registro</b></h3>
                                            </div>
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Usuario">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control"
                                                        placeholder="Contraseña">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control"
                                                        placeholder="Confirmar contraseña">
                                                </div>

                                                 Botón Registrase
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-xs-offset-3">
                                                            <input type="submit" class="form-control btn btn-info"
                                                                value="Registrarse">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </ul>
                                </li>-->
                                <!-- Inicio de sesión
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iniciar sesión <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-width">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <h3><b>Inicio de sesión</b></h3>
                                            </div>
                                            <form>
                                                <div class="form-group">
                                                    <label for="username">Usuario</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Contraseña</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-7">
                                                            <input type="checkbox">
                                                            <label for="remember">Recordarme</label>
                                                        </div>
                                                        <div class="col-xs-5 pull-right">
                                                            <input type="submit" class="form-control btn btn-success"
                                                                value="Log In">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-center">
                                                                <a href="#" class="forgot-password">Olvidaste la
                                                                    contraseña?</a>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="hide" name="token" id="token"
                                                    value="a465a2791ae0bae853cf4bf485dbe1b6">
                                            </form>
                                        </div>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <section class="container-full">

        <!-- Main page -->
        <div class="row" id="full-page">

            <!-- Sidebar -->
            <div class="col-md-2">
                <div class="profile-sidebar">

                    <!-- User picture -->
                    <div class="profile-userpic">
                        <img src="/wwwroot/Documento/IMG_20200421_163531_056.jpg" class="img-responsive img-circle border" alt="foto">
                    </div>

                    <!-- Sidebar title -->
                    <div class="profile-user">
                        <div class="profile-name">User</div>
                    </div>

                    <!-- Sidebar menu -->
                    <nav class="profile-menu">
                        <ul class="nav navbar vertical">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-user"></i> Perfil</a>
                            </li>
                            <li>
                                <a asp-page="./TemaPages/Index">Crud Temas</a>
                            </li>
                            <li>
                                <a asp-page="./EstudiantesPages/Index">Crud Estudiantes </a>
                            </li>
                            <li>
                                <a asp-page="./DocentesPages/Index">Crud Asesores</a>
                            </li>
                            <li>
                                <a asp-page="./GruposPages/Index">Crud Grupos</a>
                            </li>
                            <li>
                                <a asp-page="./IntegracionPages/Index">Integracion</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Content -->
            <div class="col-md-10">

            </div>
        </div>
    </section>



    <section>
       
            @RenderBody()

    </section>
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Proyecto - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->

    @RenderSection("Scripts", required: false)
</body>
</html>
