.caja-registro {
    text-shadow: 2px 2px 4px #000000;
    /*background: yellow;*/
    width: 50%;
    /*height: 85%;*/
    position: relative;
    left: 26%;
    top: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton {
    position: absolute;
    left: 57%;
}

.boton1 {
    position: relative;
    left: 34%;
}


