.arriba {
    /*background-color: brown;*/
    position: absolute;
    left: 185px;
    top: 53px;
    width: 85%;
    height: 465px;
}

#crear {
    position: relative;
    width: 50%;
}

.bot {
    position: relative;
    width: 50%;
    margin-top: 10%;
}

